/* Container for results page */
.mainResult {
    padding: 20px;
    /* background-color: #f9f9f9; */
    margin-top: 200px;
  }
  
  /* Section styling */
  .section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid layout */
    gap: 20px; /* Gap between cards */
    justify-items: center; /* Center items horizontally */
    margin: 20px; /* Margin from the edge */
  }
  
  /* Category title */
  .resultCategory {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
  }
  